# LNR Gossip Pipeline Configuration Example
# RabbitMQ Configuration
export RABBITMQ_URL=amqp://guest:guest@localhost:5672/
export UPSTREAM_RABBITMQ_URL='amqp://greenlight:23b3469aa4fe8757001c@10.64.4.6/prod'
export UPSTREAM_QUEUE_NAME=router.gossip

# Database Configuration
export DATABASE_PATH=gossip.db

# Archive Configuration
export ARCHIVE_ROTATION=hourly

# Web Server Configuration
export WEB_HOST=0.0.0.0
export WEB_PORT=8008

# Logging Configuration
export LOG_LEVEL=INFO

export KUBECONFIG=/home/cdecker/.kube/k3s
export DATA_DIR=/home/cdecker/dev/lnresearch/gossip/data/
export GIT_SSH_KEY_PATH=/home/cdecker/.ssh/lnr-gossip-key
